@import url('https://fonts.cdnfonts.com/css/rawline');


.ant-input-search-button {
  background-color:#1867DC !important;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  
}


.AppHeader {
height:50px;
display: flex;
justify-content: space-between;
align-items: center;
padding:8px 16px 8px 16px;
border-bottom: 1px solid rgba(0,0,0,0.15);
font-family: 'Rawline', sans-serif;

}
.AppFooter {
height:50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0,0,0,0.15);
font-family: 'Rawline', sans-serif;

}

.PageContent {
  padding-left:24px;
  font-family:'Rawline', sans-serif;
  max-width:100%;



}

.SideMenuAndPageContent {
  display:flex;
  flex:1;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Rawline', sans-serif;

}



.Container {
  justify-content: center;
  align-items: center;
  width:1920px;
}

div.ant-modal-content {
  max-width:408px;
  margin-left:32px;
  max-height:600px;
}


.slick-dots li.slick-active button {
  background: #A3AAB2 !important;
}

.ant-table-column-has-sorters {
  background:#F6F8FC !important;
}

 th.ant-table-cell {
  background:#F6F8FC !important;
}

.SpinnerContainer {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.NovaLogo #imglogo {
  height:50%;
  width:50%;
}

.CardsNews{
  width:450px;
  margin-left:60px;
}